body {
	background-color: hsl(0, 0%, 94%);
}
div.fullContainer {
	height: 330px;
	width: 300px;
	background-color: white;
	position: absolute;
	left: 20px;
	border-radius: 10% 10% 30% 10%;
}
div.calcContainer {
	border-bottom: 2px solid black;
	height: 100px;
}
p.day {
	position: absolute;	
	top: 10px;
	left: 40px;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-size: 0.8em;
}
p.month {
	position: absolute;
	top: 10px;
	left: 110px;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-size: 0.8em;
}
p.year {
	position: absolute;
	top: 10px;
	left: 180px;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-size: 0.8em;
}
#dayInput {
	position: absolute;
	top: 50px;
	left: 40px;	
}
p#day_error {
  color: red;
  font-size: 9px;
  position: absolute;
  top: 62px;
  left: 40px;
}
#monthInput {
	position: absolute;
	top: 50px;
	left: 110px;
}
p#month_error {
  color: red;
  font-size: 9px;
  position: absolute;
  top: 62px;
  left: 110px;
}
#yearInput {
	position: absolute;
	top: 50px;
	left: 180px;
}
p#year_error {
  color: red;
  font-size: 9px;
  position: absolute;
  top: 62px;
  left: 180px;
}
button#calcButton {
	position: absolute;
	left: 230px;
	top: 80px;
	background-color: blue;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
img.inputIcon {
	width: 20px;
	height: 20px;
}
div.resultContainer {
	position: absolute;
	top: 90px;
}
h1#yearResult {
	position: absolute;
	top: 40px;
	left: 40px;	
	font-family: "Poppins", sans-serif;
	font-style: italic;
	font-size: 2.7em;
	color: blue;
}
h1.yearIndicator {
	position: absolute;
	top: 40px;
	left: 90px;
	font-family: "Poppins", sans-serif;
	font-style: italic;
	font-size: 2.7em;
}
h1#monthResult {
	position: absolute;
	top: 90px;
	left: 40px;
	font-family: "Poppins", sans-serif;
	font-style: italic;
	font-size: 2.7em;
	color: blue;
}
h1.monthIndicator {
	position: absolute;	
	top: 90px;
	left: 90px;
	font-family: "Poppins", sans-serif;
	font-style: italic;
	font-size: 2.7em;
}
h1#dayResult {
	position: absolute;
	top: 140px;
	left: 40px;
	font-family: "Poppins", sans-serif;
	font-style: italic;
	font-size: 2.7em;
	color: blue;
}
h1.dayIndicator {
	position: absolute;
	top: 140px;
	left: 90px;
	font-family: "Poppins", sans-serif;
	font-style: italic;
	font-size: 2.7em;
}

@media (min-width: 600px) {
	div.fullContainer {
		position: absolute;
		left: 440px;
		top: 100px;
		width: 400px;
		height: 430px;
	}
	
	h1.dayIndicator {
	 	font-size: 3.4em;
	 	position: absolute;
	 	top: 160px;
	}
	
	h1.monthIndicator {
		font-size: 3.4em;
		position: absolute;
		top: 100px;
	}
	
	h1.yearIndicator {
		font-size: 3.4em;
	}
	
	h1#dayResult {
		font-size: 3.4em;
		position: absolute;
		top: 160px;
		left: 30px;
	}
	
	h1#monthResult {
		font-size: 3.4em;
		position: absolute;
		top: 100px;
		left: 30px;
	}
	
	h1#yearResult {
		font-size: 3.4em;
		position: absolute;
		left: 28px;
	}
	
	p.day {
		font-size: 1.0em;
		position: absolute;
		left: 80px;
	}
	
	p.month {
		font-size: 1.0em;
		position: absolute;
		left: 170px;
	}
	
	p.year {
		font-size: 1.0em;
		position: absolute;
		left: 260px;
	}
	
	button#calcButton {
		position: absolute;
		left: 170px;
		top: 80px;
		width: 50px;
		height: 50px;
	}
	
	#dayInput {
		position: absolute;
		left: 80px;
	}
	
	#monthInput {
		position: absolute;
		left: 170px;
	}
	
	#yearInput {
		position: absolute;
		left: 260px;
	}
	
	img.inputIcon {
		width: 30px;
		height: 30px;
	}
	
	p#month_error {
		position: absolute;
		left: 170px;
	}
	
	p#day_error {
		position: absolute;
		left: 80px;
	}
	
	p#year_error {
		position: absolute;
		left: 260px;
	}
}